@(contas : Set[Conta])

<html>
	<head>
		<title> Todas as Contas</title>
		<style>
			table, th, td {
    		border: 1px solid black;
    		border-collapse: collapse;
			}
		</style>
	</head>
	<body>
			<h1>Todas as contas</h1>
		<table>
			<tr><td>ID</td><td>Titulo</td><td>Vencimento</td><td>Valor</td></tr>
				@for(conta <- contas){
					<tr>
					<td><a href="#">@conta.getId()</a></td>
					<td>Titulo: @conta.getTitulo()</td>
		  		<td>Vencimento: @conta.getVencimento()</td>
		 			<td>Valor: @conta.getValor()</td>
				</tr>
				}
		</table>
	</body>
</html>
