@(bonecas: Set[Boneca])

<html>
<body>
<h1>Todas as Bonecas</h1>
  <form action="@routes.BonecaController.create">
    <button type="submit">Inserir</button>
  </form>
<table>
<tr><td>id</td><td>Nome</td><td>Altura</td>
<td>Marca</td><td>Opções</td></tr>
@for(boneca <- bonecas){
  <tr>
  <td>@boneca.id</td>
  <td>@boneca.nome</td>
  <td>@boneca.altura</td>
  <td>@boneca.marca</td>
  <td><a href="@routes.BonecaController.destroy(boneca.id)">Excluir</a></td>
  <td><a href="@routes.BonecaController.show(boneca.id)">Editar</a><td>
  </tr>
}
</table>

</body>

</html>
